out.tmp*
logfile
build_release
build_debug
CVS
*.o
*~
*.a
.DS_Store
depend.mk
testfabber
doc
.sconsign.dblite
Debug
Release
out*
*.pyc
# xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
Pods

